* { 	margin:0; padding:0; }

a { text-decoration: none; color: black; }

a:hover { text-decoration: underline; }

html, body { height: 100%; }

header {
	width: 100%;
	height: 100px;
	background-color: #b8b9c8;
}

header h1 {
	font: bold normal 50px/100% Garamond, sans-serif;
	padding: 25px 0 0 20px;
	float: left;
}

header img {
	height: 100px;
	width: 100px;
	float: left;
}

#top-nav {
	width: 100%;
	height: 35px;
	font: bold normal 12px/100% Arial, serif;
	background-color: #8a8db6;	
}

#top-nav ul {
	float: left;
	margin-left: 20px;
}

#top-nav li {
	float: left;
	display: inline;
	margin: 5px;
	padding: 5px;
}

#container {
	min-height: 100%;
	position: relative;
	padding: 10% 0 10% 0;
	text-align: center;	
}

#container h2 {
	position: relative;
	top: -50px;
}

#container div {	
	/* placeholder */
}

#container img {
	margin: 10px;
	border: 1px solid;
}

#projects {
	padding-bottom: 35px;
	margin: 0 20%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 35px;
	clear: both;
	font: bold normal 12px/100% Arial, sans-serif;
	background-color: #8a8db6;
}

footer p {
	float: right;
	margin: 8px 20px 2px 0;
	padding: 5px;
}

#container img.big {
	position: fixed;
	top: 20%;
	left: 30%;
	z-index: 11;
}

#container span.big {
	position: fixed;
	top: 65%;
	left: 30%;
	z-index: 11;	
	width: 450px;
	height: 50px;
	background-color: #fff;
	font: bold normal 12px/100% Arial, sans-serif;
	padding: 25px;
	margin: 10px;
	border: 1px solid;
	
}

#overlay {
   background-color: #000;
   opacity: 0.7;
   filter: alpha(opacity=70);
   position: fixed; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
}

.hidden {
	display: none;
}


